doctype html
html
  head
    title Інтеграція шаблонізаторів PUG та EJS у існуючий Express сервер
    link(rel="stylesheet", href="/styles.css")
  body
    .container
      h1 Оберіть сторінку:
      ul
        li: a(href="/users") Список користувачів 
        li: a(href="/articles") Список статей 
