doctype html
html
  head
    title Список користувачів
    link(rel="stylesheet", href="/styles.css")
    link(rel="icon", href="/favicon.ico")
body(class=theme)
  .container
    h1 Список користувачів
    ul
      each user in users
        li: a(href=`/users/${user.id}`) #{user.name} 
    a.button.back(href="/") ← На головну


