<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= article.title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>
            <%= article.title %>
        </h1>
        <p>
            <%= article.content %>
        </p>
        <a class="back-link" href="/articles">← Назад до списку</a>
    </div>
</body>

</html>