<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Список статей</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.ico">
</head>

<body class="<%= theme %>">
    <div class="container">
        <h1>Список статей</h1>
        <ul>
            <% articles.forEach(article=> { %>
                <% if (article && article.title) { %>
                    <li>
                        <a href="/articles/<%= article._id %>">
                            <%= article.title %>
                        </a>
                    </li>
                    <% } %>
                        <% }) %>
        </ul>

        <a class="button back" href="/">← На головну</a>
    </div>
</body>