
body {
  font-family: sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 30px;
  background: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.7);
}

h1, h2 {
  margin-bottom: 20px;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: 10px 0;
}

/* белые кнопки  */
ul li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 30px;
  margin: 5px 0;
  border-radius: 100px;
  transition: all .2s;
  background-color: #fff;
  color: #444;
  font-weight: bold;
  position: relative;
}

ul li a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

ul li a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

ul li a::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  transition: all .4s;
}

ul li a:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* назад */
.back-link {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  border-radius: 8px;
  background: #4da3ff;
  color: #121212;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s;
}

.back-link:hover {
  background: #1a73e8;
}
